.top-header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  padding: 0 10px;
  background: #44403e;
  box-shadow: 5px 5px 15px 5px #1e1e1e;
  font-weight: 500;

  @media screen and (max-width: 769px) {
    font-size: 13px;
  }
}

.terminal-icon {
  display: flex;
  justify-content: space-between;
  gap: 5px;

  .icon {
    width: 12px;
    height: 12px;
    border-radius: 50%;

    @media screen and (max-width: 769px) {
      width: 8px;
      height: 8px;    }

    &.red {
      background: #ed655a;
    }

    &.yellow {
      background: #e0c04c;
    }

    &.green {
      background: #72be47;
    }
  }
}


.terminal-content {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: #9f9b99;
  font-weight: bold;

  img {
    margin: 0 5px 5px 0;
  }
}
