.file-upload-wrap {
  position: relative;
  width: 272px;
  height: 272px;
  transition: 0.3s all ease;
  border: 2px #dedede dashed;
  border-radius: 42px;
  background: #f2f2f2;

  &.isDragging {
    transition: 0.3s all ease;
    background: #c9c7c7;
  }

  &.is-upload {
    border: none;
  }

  .file-upload-input {
    display: none;
    width: 100%;
    height: 100%;
    opacity: 0;
  }


}

.file-upload-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: #2a2a2c;
  font-size: 18px;
  font-weight: bold;
  line-height: 31px;
  gap: 16px;


}


.file-upload-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 82px;
  height: 82px;
  transition: 0.3s all ease;
  border-radius: 50%;
  background: #2a2a2c;
  cursor: pointer;

  &:hover {
    transition: 0.3s all ease;
    background: #000;
  }


}
